<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select car images.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take photos.</string>
    <key>CARNET_API_KEY</key>
    <string>$(CARNET_API_KEY)</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.299567035289-aav6sdt7hgcsqk6269g76o608e50gogs</string>
        </array>
      </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>google</string>
    </array>
</dict>
</plist>
